.DS_Store
*.pyc
*.pyo
*.csv
*.dat
*.zip
*.vec

# image data
*.jpg
*.tiff
*.tif
*.7z
*.tar


env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
data/
trained_models/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
