.DS_Store
*.pyc
*.pyo
*.csv
*.dat
*.zip
*.vec

# image data
*.jpg
*.tiff
*.tif
*.7z

env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
